/* flexbox mixins */
/* mixins for checkmarks in list items */
/* styles for parent interstitial page */
.parent-interstitial {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  color: #2c3e50;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5; }

.interstitial-hero {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: center;
  -ms-align-items: center;
  -moz-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  background-color: #2c3e50;
  padding: 100px; }
  .interstitial-hero .interstitial-hero-header {
    color: #ffffff;
    font-size: 40px;
    max-width: 800px;
    text-align: center; }
  .interstitial-hero .interstitial-bold-subheader {
    color: #f7931e;
    font-weight: 700; }

.interstitial-video-section {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  padding: 50px; }
  .interstitial-video-section .interstitial-video-header {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px; }
  .interstitial-video-section .interstitial-video-content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row; }
  .interstitial-video-section .interstitial-video-placeholder {
    background-color: #2c3e50;
    height: 323px;
    width: 570px;
    margin-right: 5%;
    max-width: 49%; }
  .interstitial-video-section .interstitial-video-copy {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    text-align: left;
    max-width: 35%; }
  .interstitial-video-section .interstitial-video-copy-header {
    border-bottom: 2px solid #eaeaea;
    font-weight: 300;
    margin-bottom: 10px;
    padding-bottom: 5px;
    text-align: center; }
  .interstitial-video-section .interstitial-video-copy-subheader {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center; }
  .interstitial-video-section .interstitial-video-info-list {
    max-width: 400px;
    position: relative;
    margin: 10px 0 10px 25px; }
    .interstitial-video-section .interstitial-video-info-list li:before {
      background-image: url("../images/checkmark-blue.svg");
      background-size: contain;
      background-repeat: no-repeat;
      content: '';
      height: 13px;
      left: 0px;
      margin-top: 5px;
      position: absolute;
      width: 13px; }
  .interstitial-video-section .interstitial-video-list-item {
    padding-left: 20px; }
  .interstitial-video-section .interstitial-video-copy-endheader {
    font-size: 18px;
    font-weight: 700; }

.interstitial-resources {
  background-color: #2c3e50;
  padding: 50px; }
  .interstitial-resources .interstitial-resources-header {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center; }

.interstitial-problem-cards {
  padding: 50px; }
  .interstitial-problem-cards .interstitial-problem-cards-header {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 25px; }

.interstitial-get-in-touch {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  background-color: #2c3e50;
  padding: 50px; }
  .interstitial-get-in-touch .interstitial-get-in-touch-header {
    color: #ffffff;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    text-align: center; }
  .interstitial-get-in-touch .interstitial-get-in-touch-buttons {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -moz-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -moz-justify-content: center;
    justify-content: center; }
  .interstitial-get-in-touch .interstitial-call-our-mainline {
    color: #ffffff;
    font-size: 18px;
    padding: 20px 50px;
    margin: 0px 20px 0px 20px; }
    .interstitial-get-in-touch .interstitial-call-our-mainline:p:first-of-type {
      border-bottom: 1px solid #ffffff;
      font-size: 20px;
      font-weight: 700;
      padding-bottom: 5px;
      margin-bottom: 10px; }
  .interstitial-get-in-touch .interstitial-get-in-touch-button {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    -webkit-align-items: center;
    -ms-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    -moz-flex-direction: column;
    flex-direction: column;
    border: solid 1px #ffffff;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    padding: 20px 50px;
    margin: 0px 20px 0px 20px;
    text-align: center; }
