/* flexbox mixins */

@mixin flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
}

@mixin flex-align ($direction: center) {
    -webkit-align-items: $direction;
    -ms-align-items: $direction;
    -moz-align-items: $direction;
    align-items: $direction;
}

@mixin flex-align-self ($direction: center) {
    -webkit-align-self: $direction;
    -ms-align-self: $direction;
    -moz-align-self: $direction;
    align-self: $direction;
}

@mixin flex-direction ($type: row) {
    -webkit-flex-direction: $type;
    -ms-flex-direction: $type;
    -moz-flex-direction: $type;
    flex-direction: $type;
}

@mixin flex-justify ($direction: center) {
    -webkit-justify-content: $direction;
    -ms-justify-content: $direction;
    -moz-justify-content: $direction;
    justify-content: $direction;
}


/* mixins for checkmarks in list items */

@mixin interstitial-list-item-checkmark-blue {
    max-width: 400px;
    position: relative;
    li:before {
        background-image: url('../images/checkmark-blue.svg');
        background-size:contain;
        background-repeat: no-repeat;
        content:'';
        height: 13px;
        left: 0px;
        margin-top: 5px;
        position:absolute;
        width: 13px;
    }
}


/* styles for parent interstitial page */


.parent-interstitial {
    @include flex;
    @include flex-direction(column);
    color: #2c3e50;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.interstitial-hero {
    @include flex;
    @include flex-align(center);
    @include flex-direction(column);
    background-color: #2c3e50;
    padding: 100px;
    .interstitial-hero-header {
        color: #ffffff;
        font-size: 40px;
        max-width: 800px;
        text-align: center;
    }
    .interstitial-bold-subheader {
        color: #f7931e;
        font-weight: 700;
    }
}

.interstitial-video-section {
    @include flex;
    @include flex-direction(column);
    padding: 50px;
    .interstitial-video-header {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 25px;
    }
    .interstitial-video-content {
        @include flex;
        @include flex-direction(row);

    }
    .interstitial-video-placeholder {
        background-color: #2c3e50;
        height: 323px;
        width: 570px;
        margin-right: 5%;
        max-width: 49%;
    }
    .interstitial-video-copy {
        @include flex;
        @include flex-direction(column);
        text-align: left;
        max-width: 35%;
    }
    .interstitial-video-copy-header {
        border-bottom: 2px solid #eaeaea;
        font-weight: 300;
        margin-bottom: 10px;
        padding-bottom: 5px;
        text-align: center;
    }
    .interstitial-video-copy-subheader {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 10px;
        text-align: center;
    }
    .interstitial-video-list-header {

    }
    .interstitial-video-info-list {
        @include interstitial-list-item-checkmark-blue;
        margin: 10px 0 10px 25px;
    }
    .interstitial-video-list-item {
        padding-left: 20px;
    }
    .interstitial-video-copy-endheader {
        font-size: 18px;
        font-weight: 700;
    }
}

.interstitial-resources {
    background-color: #2c3e50;
    padding: 50px;
    .interstitial-resources-header {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
        text-align: center;
    }
}

.interstitial-problem-cards {
        padding: 50px;
    .interstitial-problem-cards-header {
        font-size: 24px;
        font-weight: 700;
        text-align: center;
        margin-bottom: 25px;
    }
}

.interstitial-get-in-touch {
    @include flex;
    @include flex-direction(column);
    background-color: #2c3e50;
    padding: 50px;
    .interstitial-get-in-touch-header {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 25px;
        text-align: center;
    }
    .interstitial-get-in-touch-buttons {
        @include flex;
        @include flex-direction(row);
        @include flex-justify(center);
    }
    .interstitial-call-our-mainline {
        color: #ffffff;
        font-size: 18px;
        padding: 20px 50px;
        margin: 0px 20px 0px 20px;
        &:p:first-of-type {
            border-bottom: 1px solid #ffffff;
            font-size: 20px;
            font-weight: 700;
            padding-bottom: 5px;
            margin-bottom: 10px;
        }
    }
    .interstitial-get-in-touch-button {
        @include flex;
        @include flex-align(center);
        @include flex-direction(column);
        border: solid 1px #ffffff;
        border-radius: 7px;
        color: #ffffff;
        cursor: pointer;
        font-size: 18px;
        padding: 20px 50px;
        margin: 0px 20px 0px 20px;
        text-align: center;
    }
}
